//Add all custom CSS here

//.xyz {
//    font-size: 100px;
//
//    @include media-query($on-palm) {
//        font-size: 20px;
//    }
//}
html{
    scroll-behavior: smooth;
    height: 100%;
}
.socials {
      font-size: 30px;
     li {
        @include media-query($on-palm) {
            font-size: 30px
        }
    }
  }
.contact-item .site-logo img {
    @include media-query($on-palm) {
        max-width: 150px
    }
}
.category-list--btn-style li a {
    font-size: 25px
}
.home-works-button {
    @include media-query($on-palm) {
        margin-bottom: 70px
    }
}
.header-contact{
    margin-right: -55vw;
    @include media-query($on-palm) {
        margin-right: 0
    }
}
.menu-ham {
    opacity:0.8;
    &:hover {
        opacity:0.5;
    }
}
.copy-center{
    margin: 0 auto;
    a {
        color: #00ffb3;
    }
    @include media-query($on-palm) {
        margin-top: 40px;
    }
}
.footer{
    background: #3D434F;
    .contact-item-title{
        color: #eee;
    }
    .contact-item {
        justify-content: inherit;
        .info {
            color: #868686;
            font-weight: 400;
            font-size: 16px;
            a {
                color: #868686;
                font-weight: 400;
                &:hover{
                    color: #fff;
                }
            }
        }
        .contact-color .info a{
            font-weight: 400;
            color: #00ffb3;
            &:hover {
                color: #fff;
            }
        }
    }
    .socials--double-icons li a {
        color: #868686;
        &:hover {
            color: #fff;
        }
    }
    .site-logo img {
        opacity: 0.9;
    }
}
.crumina-portfolio-item .content {
    top: 30px;
}
.site-logo img {
    @include media-query($on-palm){
        max-width: 50px;
    }
}
//Mobile section ribbon for projects in home page
.mobile-heading {
    display: none;
    @include media-query($content-width) {
        display: block;
        text-align: center;
    }
}
.copyright-wrapper {
  margin-top: 4em;
}
//header animation on mobile phone
@include media-query($on-palm) {
    .animated.slideUp {
        animation-name: slideUp;
    }
    .animated.slideDown {
    
        animation-name: slideDown;
    }
    .animated{
        animation-fill-mode: both;
        will-change: transform, opacity;
    }
}
.chat-button{
    position: fixed;
    right: 0;
    bottom: 0;        
    margin: 1em;
    font-size: 1.5em;
    color: #c3c9d4;
    z-index: 99;
    .chat-icon {
        padding: 10px;
        font-size: 3em;
        color: #fff;
        background: #25D366;
        border-radius: 40%;
    }
}
//Slider width 50%
.teammember-details .teammembers-thumb {
    width: 50%;
    @include media-query($on-palm) {
        width: 100%;
    }
}
.shop-img{
    padding: 100px 0 0 100px;
    @include media-query($on-laptop){
        padding: 40px 0 0 40px;
    }
    @include media-query($on-palm){
        padding: 20px 20px 0 20px;
    }
}