---
title: Shop \| Browse our collection of creatives and website templates
description: Discover the perfect website templates and festive greetings for every occasion at IC Solutions. Transform your online space with our high-quality designs. Shop Now!
layout: default
permalink: /shop/
image: https://icsoln.com/assets/img/logo-only-c.png
---
<div class="page-popup">
	<section data-settings="particles-1" class="main-section crumina-flying-balls particles-js">
		<div class="container">
			<div class="row medium-padding120">
				<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
					<header class="crumina-module crumina-heading heading--h2 heading--with-decoration ">
						<div class="heading-sup-title">Shop</div>
						<h2 class="heading-title heading--half-colored">We sell <b>beautiful things</b></h2>
						<div class="heading-text">
							Explore and purchase them as you go through ICS.
						</div>
					</header>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row pt80">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<ul class="category-list sorting-menu align-center category-list--btn-style">
						<li class="active" data-filter="*"><a href="#">all</a></li>
						<li data-filter=".festival"><a href="#">festival greetings</a></li>
<!--						<li data-filter=".birthday"><a href="#">birthday cards</a></li>-->
						<li data-filter=".website"><a href="#">website templates</a></li>
					</ul>

					<div class="row sorting-container medium-padding80" id="portfolio-grid" data-layout="masonry" data-isotope='{"masonry": { "columnWidth": ".grid-sizer-half-width" }}'>
						<div class="grid-sizer-half-width"></div>

						{% for item in site.data.shop %}
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sorting-item {{item.category}}">
							<div class="crumina-module crumina-teammembers-item has-popup">
								<div class="crumina-portfolio-item">
									<img src="{{item.image.main}}" alt="{{item.title}}" class="">
									<div class="overlay-standard"></div>
									<div class="content">
										<a href="#" class="category">{{item.sub-title}}</a>
										<h5 class="portfolio-title">{{item.title}}</h5>
									</div>
									<div class="additional-info">

										<a href="#" class="btn btn--small btn--white btn--transparent btn--hover-decoration btn--with-icon btn--icon-right js-open-popup">preview<svg class="woox-icon icon-arrow-right-line">
												<use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-right-line"></use>
											</svg></a>
									</div>
								</div>

								<!-- window-popup start -->
								<div class='window-popup'>
									<div class='content'>
										<div class="teammember-details">
											<a class='js-open-popup popup-close' href='#'>
												<svg class="woox-icon icon-close">
													<use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-close"></use>
												</svg>
											</a>
											<div class="teammembers-thumb shop-img">
               
                          <div class="shop-slider">
                              <ul>
                                {% for img in item.image.sub %}
                                  <li><img src="{{img}}" alt="{{item.title}}"></li>
                                {% endfor %}
                              </ul>
                          </div>
                          <hr style="color: #00ffb3">
                          <div class="slider-nav">
                                <ul>
                                  {% for img in item.image.sub %}
                                    <li><img src="{{img}}" alt="{{item.title}}"></li>
                                  {% endfor %}
                              </ul>
                          </div>

											</div>
											<div class="teammembers-content">
												<h2 class="teammembers-item-name">{{item.title}}</h2>
												<h4 class="sale-price"><strike class="price">{{item.price}} ₹</strike> {{item.sale-price}} ₹</h4>
												{% if item.hosting %}												
													<p>* Pricing includes 6 months free hosting for the website !</p>
												{% endif %}
												<p>
													{{item.description}}													
												</p>
												{% if item.link != null %}												
												    <p><a href="{{item.link}}" target="_blank">Demo Website Link</a></p>
												{% endif %}
												<p>Enter your contact details here and we will reach you to get your requirements.</p>
												
												<script type="text/javascript">var submitted=false;</script>
                                                <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='https://icsoln.com/thank-you/';}"></iframe>
												<form class="contact-form login-form" method="post" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScD_-xaPPMpcZujPSiUxT5c7PM5W_CDZZCkBxMgaUEcX-K7UA/formResponse" target="hidden_iframe" onsubmit="submitted=true;">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
															<div class="form-group label-floating is-empty">
																<label class="input-label control-label">Your email address <abbr class="required" title="required">*</abbr></label>
																<input class="form-control input--squared " type="email" name="entry.450573189" required>
															</div>
														</div>

														<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
															<div class="form-group label-floating is-empty">
																<label class="input-label control-label">Your phone number</label>
																<input class="form-control input--squared" type="phone" name="entry.872304911" required>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
															<div class="form-group label-floating is-empty">
																<label class="input-label control-label">Write your requirement here</label>
																<textarea class="form-control input--squared height-140" name="entry.1597997822" placeholder="" required></textarea>
															</div>
														</div>														
													</div>
													<div class="row">
													    <div class="col-lg-12">
															<div class="form-group label-floating is-empty">
<!--																<label class="input-label control-label">Shop Item</label>-->
																<input class="form-control input--squared hide" type="shop-item" value="{{item.title}}">
															</div>
														</div>
													</div>
													<div class="row">
														<input type="hidden" name="entry.1481912047" value="{{item.title}}">
														<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
															<button class="btn btn--medium btn--secondary btn--transparent btn--hover-decoration full-width" type="submit" value="send">send a message</button>
														</div>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div><!-- window-popup end -->
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
			<div class="row pb80">
			</div>
		</div>
	</section>

	{% include cta.html %}

	<div class="popup" id="media-popup">
		<iframe width="700" height="400" src="" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
