---
title: ICS \| Leading Website Development and Digital Marketing Solutions provider
description: At IC Solutions, we turn visions into virtual reality. Explore our website development expertise, where creativity meets functionality. Your journey to a remarkable online presence begins here.
layout: default
image: https://icsoln.com/assets/img/logo-only-c.png
---

<div class="page-popup">
<section data-settings="particles-1" class="main-section crumina-flying-balls particles-js">
		<div class="container">
			<div class="row medium-padding120">
				<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
					<header class="crumina-module crumina-heading heading--h1 heading--with-decoration">
						<h1 class="heading-title heading--half-colored">Innovate. Create. Solve</h1>
						<div class="heading-text">ICS dedicates itself to furnishing businesses and individuals with top-notch software, design, and marketing solutions. We believe unwavering excellence and service synergy drive business success.  </div>
					</header>
					<a href="/services/" class="h5 link--with-decoration">read more</a>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">

			<div class="row pt100 pb60">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<header class="crumina-module crumina-heading heading--h2 heading--with-decoration">
						<h2 class="heading-title">Featured <a href="/work/" class="h2 link--with-decoration"><b>projects</b></a></h2>
						<div class="heading-text">Some of our recent projects</div>
					</header>
				</div>
			</div>

			<div class="row sorting-container" id="portfolio-grid" data-layout="masonry" data-isotope='{"masonry": { "columnWidth": ".grid-sizer" }}'>
				<div class="grid-sizer"></div>
				
				<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 sorting-item" data-mh="portfolio">
					<div class="crumina-module crumina-portfolio-item">
					    <h5 class="mobile-heading">E-Commerce Website</h5>
						<img src="/assets/img/portfolio/gargi-946x546.jpg" alt="Gargi Beauty" class="">
                                <div class="overlay-standard"></div>
                                <div class="content">
                                    <a href="#" class="category">Beauty Care E-Commerce Website</a>
                                    <h5 class="portfolio-title">Gargi Beauty</h5>
                                </div>
                                <div class="additional-info">
                                    <a href="https://gargibeauty.com/" target="_blank" class="btn btn--small btn--white btn--transparent btn--hover-decoration btn--with-icon btn--icon-right">visit website<svg class="woox-icon icon-arrow-right-line"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-right-line"></use></svg></a>
<!-- <a href="#" class="like-block">
								<svg class="woox-icon icon-heart-2"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-heart-2"></use></svg>
								<div class="count">36</div>
							</a> -->
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sorting-item" data-mh="portfolio">
					<div class="crumina-module crumina-portfolio-item">
					    <h5 class="mobile-heading">Animation Video</h5>
						<img src="/assets/img/portfolio/video-Portfolio-492x446.jpg" alt="portfolio">
						<div class="overlay-standard"></div>
						<div class="content">
							<a href="#" class="category">Video </a>
							<h5 class="portfolio-title">Animation Video</h5>
						</div>
						<div class="additional-info">
                                <p><a href="#media-popup" data-media="//www.youtube.com/embed/TCjPW-iyZaI"class="btn btn--small btn--white btn--transparent btn--hover-decoration btn--with-icon btn--icon-right">watch video<svg class="woox-icon icon-arrow-right-line"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-right-line"></use></svg></a></p>
<!-- <a href="#" class="btn btn--small btn--white btn--transparent btn--hover-decoration btn--with-icon btn--icon-right">watch video<svg class="woox-icon icon-arrow-right-line"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-right-line"></use></svg></a> -->
<!-- <a href="#" class="like-block">
								<svg class="woox-icon icon-heart-2"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-heart-2"></use></svg>
								<div class="count">36</div>
							</a> -->
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 sorting-item" data-mh="portfolio">
					<div class="crumina-module crumina-portfolio-item">
					    <h5 class="mobile-heading">Logo Designs</h5>
						<img src="/assets/img/portfolio/logo-Portfolio-480x456.jpg" alt="portfolio">
						<div class="overlay-standard"></div>
						<div class="content">
							<a href="/work/" class="category">Designs</a>
							<h5 class="portfolio-title">Logo Designs</h5>
						</div>
						<div class="additional-info">
							<a href="/work/" class="btn btn--small btn--white btn--transparent btn--hover-decoration btn--with-icon btn--icon-right">more designs<svg class="woox-icon icon-arrow-right-line"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-right-line"></use></svg></a>
<!-- <a href="#" class="like-block">
								<svg class="woox-icon icon-heart-2"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-heart-2"></use></svg>
								<div class="count">36</div>
							</a> -->
						</div>
					</div>
				</div>
				<div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 sorting-item" data-mh="portfolio">
					<div class="crumina-module crumina-portfolio-item">
					    <h5 class="mobile-heading">Website</h5>
						<img src="/assets/img/portfolio/Rotaty2-Portfolio-946x546.jpg" alt="portfolio">
						<div class="overlay-standard"></div>
						<div class="content">
							<a href="#" class="category">Website</a>
							<h5 class="portfolio-title">Rotary Indiranagar</h5>
						</div>
						<div class="additional-info">
							<a href="https://www.rotaryindiranagar.org/" target="_blank" class="btn btn--small btn--white btn--transparent btn--hover-decoration btn--with-icon btn--icon-right">visit website<svg class="woox-icon icon-arrow-right-line"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-right-line"></use></svg></a>
<!-- <a href="#" class="like-block">
								<svg class="woox-icon icon-heart-2"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-heart-2"></use></svg>
								<div class="count">36</div>
							</a> -->
						</div>
					</div>
				</div>
			</div>
			<div class="row medium-padding60">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<a href="/work/" class="h5 link--with-decoration home-works-button">view works
						<svg class="woox-icon icon-arrow-right"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-right"></use></svg>
					</a>
				</div>
			</div>

		</div>
	</section>

	<section>
		<div class="container">
			<div class="row medium-padding60">
				<div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
					<header class="crumina-module crumina-heading heading--h2 heading--with-decoration">
						<h2 class="heading-title">Featured <a href="/services/" class="h2 link--with-decoration"><b>services</b></a></h2>
<!-- <div class="heading-text">Investigationes demonstraverunt lectores legere.</div> -->
					</header>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="crumina-module crumina-module-slider crumina-slider--info-boxes">
						<div class="swiper-btn-wrap">
							<div class="swiper-btn-next">
								<svg class="woox-icon icon-line-arrow-right"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-line-arrow-right"></use></svg>
								<svg class="woox-icon icon-hover icon-line-arrow-right"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-line-arrow-right"></use></svg>
							</div>

							<div class="swiper-btn-prev">
								<svg class="woox-icon icon-line-arrow-left"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-line-arrow-left"></use></svg>
								<svg class="woox-icon icon-hover icon-line-arrow-left"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-line-arrow-left"></use></svg>
							</div>
						</div>

						<div class="swiper-container" data-show-items="3" data-prev-next="1">
							<div class="swiper-wrapper">
							    <div class="swiper-slide">
									<div class="crumina-module crumina-info-box info-box--style2">
										<div class="info-box-thumb">
											<img class="woox-icon" src="/assets/img/infobox1.png" alt="image">
										</div>
										<div class="info-box-content">
											<h4 class="info-box-title">Marketing</h4>
											<p class="info-box-text">Our purpose is to empower digital relationships through mobility. We do all types of marketing like Email Marketing, Social Marketing, Search Engine Optimization, Content Marketing.
											</p>
<!-- <a href="/services/" class="link--with-decoration">details</a> -->
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="crumina-module crumina-info-box info-box--style2">
										<div class="info-box-thumb">
											<img class="woox-icon" src="/assets/img/infobox3.png" alt="image">
										</div>
										<div class="info-box-content">
											<h4 class="info-box-title">Development</h4>
											<p class="info-box-text">We excel in various development areas, ensuring our clients unlock their full potential. Our team specializes in automating online business for increased sales and profits.
											</p>
<!-- <a href="/services/" class="link--with-decoration">details</a> -->
										</div>
									</div>
								</div>

								<div class="swiper-slide">
									<div class="crumina-module crumina-info-box info-box--style2">
										<div class="info-box-thumb">
											<img class="woox-icon" src="/assets/img/infobox8-new.png" alt="image">
										</div>
										<div class="info-box-content">
											<h4 class="info-box-title">Mobile Apps</h4>
											<p class="info-box-text">Mobile phones are indispensable in today's world, and a well-crafted app can significantly enhance their capabilities. We specialize in developing applications for both Android and iOS platforms.
											</p>
<!-- <a href="/services/" class="link--with-decoration">details</a> -->
										</div>
									</div>
								</div>

                                <div class="swiper-slide">
									<div class="crumina-module crumina-info-box info-box--style2">
										<div class="info-box-thumb">
											<img class="woox-icon" src="/assets/img/infobox2.png" alt="image">
										</div>
										<div class="info-box-content">
											<h4 class="info-box-title">Design</h4>
											<p class="info-box-text">We excel in graphic design services, delivering impactful visuals for promotional displays, packaging, marketing brochures, billboards, presentation folders, logos, and business cards.
											</p>
<!-- <a href="/services/" class="link--with-decoration">details</a> -->
										</div>
									</div>
								</div>

								<div class="swiper-slide">
									<div class="crumina-module crumina-info-box info-box--style2">
										<div class="info-box-thumb">
											<img class="woox-icon" src="/assets/img/infobox5.png" alt="image">
										</div>
										<div class="info-box-content">
											<h4 class="info-box-title">Consultancy</h4>
											<p class="info-box-text">Experience a positive business transformation through expert advice tailored to your unique design and development needs. Our dedicated team is here to guide you towards success.
											</p>
<!-- <a href="/services/" class="link--with-decoration">details</a> -->
										</div>
									</div>
								</div>

								<div class="swiper-slide">
									<div class="crumina-module crumina-info-box info-box--style2">
										<div class="info-box-thumb">
											<img class="woox-icon" src="/assets/img/infobox9-new.png" alt="image">
										</div>
										<div class="info-box-content">
											<h4 class="info-box-title">Videos</h4>
											<p class="info-box-text">Enhance your marketing impact with a custom video for your special occasion or business. Videos will always sell your story better.
											</p>
<!-- <a href="/services/" class="link--with-decoration">details</a> -->
										</div>
									</div>
								</div>

							</div>
							<h5><a href="/services/" class="link--with-decoration">know more</a></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include testimonials.html %}

	{% include faq.html %}

	{% include cta.html %}
	
	{% include instagram-container.html %}


    <div class="popup" id="media-popup">
        <iframe width="700" height="400" src="" frameborder="0" allowfullscreen></iframe>
    </div>
    
</div>
