<section>
  <div class="container">
    <div class="row">
          
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <header class="align-center">
          <h2 class="heading-title link--with-decoration">FAQs</h2>
        </header>

        <ul class="crumina-module crumina-accordion accordion--style1" id="accordion1">

          <li class="accordion-panel">
            <div class="panel-heading">
              <a href="#toggleSample1" class="accordion-heading collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">
                <span class="title">Q. How much does it cost to develop a website?</span>
                <span class="icons">
                  <svg class="woox-icon icon-arrow-bottom"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-bottom"></use></svg>
                </span>
              </a>
            </div>
            <div id="toggleSample1" class="panel-collapse collapse" aria-expanded="false" role="tree" style="height: 30px;">
              <div class="panel-info">
                Costs for website development services depend on project complexity and features. We offer personalized quotes tailored to client needs.	
              </div>
            </div>
          </li>

          <li class="accordion-panel">
            <div class="panel-heading">
              <a href="#toggleSample2" class="accordion-heading collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">
                <span class="title">Q. How long does it take to build a website?</span>
                <span class="icons">
                  <svg class="woox-icon icon-arrow-bottom"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-bottom"></use></svg>
                </span>
              </a>
            </div>

            <div id="toggleSample2" class="panel-collapse collapse" aria-expanded="false" role="tree" style="height: 30px;">
              <div class="panel-info">
                Project timelines depend on the scope and complexity. We provide a project timeline after initial discussions.
              </div>
            </div>
          </li>

          <li class="accordion-panel">
            <div class="panel-heading">
              <a href="#toggleSample3" class="accordion-heading collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">
                <span class="title">Q. Can you redesign an existing website?</span>
                <span class="icons">
                  <svg class="woox-icon icon-arrow-bottom"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-bottom"></use></svg>
                </span>
              </a>
            </div>

            <div id="toggleSample3" class="panel-collapse collapse" aria-expanded="false" role="tree" style="height: 30px;">
              <div class="panel-info">
                Absolutely! We offer website redesign services to improve the visual appeal, user experience, and functionality of your existing site.
              </div>
            </div>
          </li>

          <li class="accordion-panel">
            <div class="panel-heading">
              <a href="#toggleSample6" class="accordion-heading collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">
                <span class="title">Q. Do you provide ongoing support and maintenance?</span>
                <span class="icons">
                  <svg class="woox-icon icon-arrow-bottom"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-bottom"></use></svg>
                </span>
              </a>
            </div>

            <div id="toggleSample6" class="panel-collapse collapse" aria-expanded="false" role="tree" style="height: 30px;">
              <div class="panel-info">
                Yes, we offer comprehensive post-launch support for website development, ensuring updates, bug fixes, and additional feature implementations.
              </div>
            </div>
          </li>

          <li class="accordion-panel">
            <div class="panel-heading">
              <a href="#toggleSample4" class="accordion-heading collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">
                <span class="title">Q. Do you offer performance optimization services?</span>
                <span class="icons">
                  <svg class="woox-icon icon-arrow-bottom"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-bottom"></use></svg>
                </span>
              </a>
            </div>

            <div id="toggleSample4" class="panel-collapse collapse" aria-expanded="false" role="tree" style="height: 30px;">
              <div class="panel-info">
                Yes, we optimize websites for speed and performance, ensuring a seamless user experience across different devices and networks.
              </div>
            </div>
          </li>

          <li class="accordion-panel">
            <div class="panel-heading">
              <a href="#toggleSample5" class="accordion-heading collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false">
                <span class="title">Q. What security measures do you implement for websites?</span>
                <span class="icons">
                  <svg class="woox-icon icon-arrow-bottom"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-arrow-bottom"></use></svg>
                </span>
              </a>
            </div>

            <div id="toggleSample5" class="panel-collapse collapse" aria-expanded="false" role="tree" style="height: 30px;">
              <div class="panel-info">
                We follow industry best practices for website security, including SSL implementation, data encryption, and regular security audits
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>