<footer id="site-footer" class="footer crumina-parallax-background">
<!-- <div class="scene">
		<div data-depth="0.2" class="layer first-layer"></div>
		<div data-depth="0.6" class="layer second-layer"></div>
		<div data-depth="1" class="layer third-layer"></div>
	</div> -->
	<section>
		<div class="container">
			<div class="row ">
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="contact-item" data-mh="equal-block">
						<a href="/" class="site-logo">
						<img src="/assets/img/logo-white-footer-small.png" alt="ICS" >
					</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="contact-item" data-mh="equal-block">
						<h6 class="contact-item-title">Contact us</h6>
						<div class="info-wrap contact-color">
<!--						    <div class="info">Phone: <a href="tel:+919957171355">+91-99571-71355</a></div>-->
							<div class="info">Email: <a href="mailto:anurag.p@icsoln.com">anurag.p@icsoln.com</a></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="contact-item" data-mh="equal-block">
						<h6 class="contact-item-title">Find us</h6>
						<div class="info-wrap">
                            <div class="info">Bengaluru, Karnataka.</div>
							<ul class="socials socials--double-icons">
								<li>
									<a href="https://www.youtube.com/channel/UCqvfP4o0fPjKmGk7gb-_ZsQ" target="_blank">
										<i class="fab fa-youtube"></i>
									</a>
								</li>
								<li>
									<a href="https://www.instagram.com/icsoln/" target="_blank">
										<i class="fab fa-instagram "></i>
									</a>
								</li>
								<li>
									<a href="https://www.facebook.com/ICSoln" target="_blank">
										<i class="fab fa-facebook-square"></i>
									</a>
								</li>
								<li>
									<a href="https://www.linkedin.com/company/icsoln/" target="_blank">
										<i class="fab fa-linkedin"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
					<div class="contact-item" data-mh="equal-block">
						<h6 class="contact-item-title">Quick Links</h6>
						<div class="info-wrap">
                            <div class="info"><a href="/">home</a></div>
                            <div class="info"><a href="/work/">work</a></div>
                            <div class="info"><a href="/services/">services</a></div>
                            <div class="info"><a href="/shop/">shop</a></div>
                            <div class="info"><a href="/contact-us/">contact us</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<!-- <hr class="divider divider--style16"> -->
					<div class="copyright-wrapper">
						<a class="back-to-top" href="#">
							<svg class="woox-icon icon-top-arrow"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-top-arrow"></use></svg>
						</a>
						<div class="copy-center text-center">
							<span>© All right reserved 2024. <a href="/">IC Solutions</a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>