<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon"/>

	{% seo %}

	<!-- <link rel="stylesheet" type="text/css" href="css/plugins.css">
	<link rel="stylesheet" type="text/css" href="css/theme-styles.css">
	<link rel="stylesheet" type="text/css" href="css/blocks.css">
	<link rel="stylesheet" type="text/css" href="css/widgets.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css"> -->

	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700i,900," rel="stylesheet">
	
	<meta name="facebook-domain-verification" content="cs11s8bwb7oudmewu099r4gijbtiwi" />

	<link rel="stylesheet" href="/assets/css/main.css">
	
	<link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
	
	<link rel="stylesheet" href="/assets/slick/slick-theme.css">


	<!-- Styles for RTL -->

	<!-- <link rel="stylesheet" type="text/css" href="css/rtl.css"> -->
	{% include analytics.html %}


</head>
