
<!-- Overlay Menu -->
<div class="overlay-menu-wrap" id="overlay-menu">
	<a class="popup-close js-open-aside" href="#">
		<svg class="woox-icon icon-close"><use xlink:href="/assets/svg-icons/sprites/icons.svg#icon-close"></use></svg>
	</a>
	<div class="perfect-scroll">
		<nav class="overlay-menu">
		<ul class="overlay-menu-list">
			<li class="overlay-menu-item">
				<a href="/">home</a>
			</li>
			<li class="overlay-menu-item">
				<a href="/services/">services</a>

			</li>
			<li class="overlay-menu-item">
				<a href="/work/">work</a>
			</li>
            <li class="overlay-menu-item">
				<a href="/shop/">shop</a>
			</li>
			<li class="overlay-menu-item">
				<a href="/blogs/">blog</a>
			</li>
			<li class="overlay-menu-item">
				<a href="/contact-us/">contact us</a>
			</li>
		</ul>
	</nav>
	</div>
</div>

<!-- ... Overlay Menu -->
