
<script src="/assets/js/method-assign.js"></script>

<!-- jQuery first, then Other JS. -->

<script src="/assets/js/jquery-3.3.1.js"></script>

<script src="/assets/js/js-plugins/ajax-pagination.js"></script>
<script src="/assets/js/js-plugins/bootstrap.js"></script>
<script src="/assets/js/js-plugins/bootstrap-datepicker.js"></script>
<script src="/assets/js/js-plugins/Headroom.js"></script>
<script src="/assets/js/js-plugins/imagesLoaded.js"></script>
<script src="/assets/js/js-plugins/isotope.pkgd.min.js"></script>
<script src="/assets/js/js-plugins/jquery.datetimepicker.full.js"></script>
<script src="/assets/js/js-plugins/jquery.magnific-popup.js"></script>
<script src="/assets/js/js-plugins/jquery.matchHeight.js"></script>
<script src="/assets/js/js-plugins/jquery-circle-progress.js"></script>
<script src="/assets/js/js-plugins/jquery-countTo.js"></script>
<script src="/assets/js/js-plugins/material.min.js"></script>
<script src="/assets/js/js-plugins/parallax.js"></script>
<script src="/assets/js/js-plugins/particles.js"></script>
<script src="/assets/js/js-plugins/perfect-scrollbar.js"></script>
<script src="/assets/js/js-plugins/popper.min.js"></script>
<script src="/assets/js/js-plugins/select2.js"></script>
<script src="/assets/js/js-plugins/svgxuse.js"></script>
<script src="/assets/js/js-plugins/swiper.min.js"></script>
<script src="/assets/js/js-plugins/waypoints.js"></script>
<script src="/assets/js/js-plugins/map-shortcode.js"></script>
<script src="/assets/js/js-plugins/ion.rangeSlider.js"></script>
<script src="/assets/js/pop-up.js"></script>

<script type="text/javascript" src="/assets/slick/slick.min.js"></script>

<script>
    $('.shop-slider ul').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: true,
      asNavFor: '.slider-nav ul'
    });
    $('.slider-nav ul').slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      asNavFor: '.shop-slider ul',
      centerMode: true,
      focusOnSelect: true,
      arrows: false
    });
</script>

<!-- FontAwesome 5.x.x JS -->

<script defer src="/assets/fonts/fontawesome-all.js"></script>

<script src="/assets/js/main.js"></script>

<script type="text/javascript">var $zoho= $zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:"95a669f87da5407effc1ab9ede5bad5e97b89426430b51d26e8ca48d58e053e01a2010ab7b6727677d37b27582c0e9c4", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript"; s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");</script>
